body{
    margin: 0;
}
.header{
    background: grey;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.header-logo{
    width: 60px;
}
.header-buttons{
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.content{
    display: flex;
    justify-content: space-around;
}
.item{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
}
.item:hover{
    transition: .5s all;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
}
.item img{
    width: 300px;
}
.item-title{
    font-size: 18px;
}
.item-price{
    font-size: 12px;
}
.content a {
text-decoration: none;
}
.itemContainer{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    width: 90%;
    padding: 40px 20px;
}
.itemContainer .item__image{
    width: 200px;
}