body{
    margin: 0;
}
.header{
    background: grey;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    position: sticky;
    top: 0;
}
.header-logo{
    width: 60px;
}
.header-buttons{
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}
.item{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: 300px;
    margin-bottom: 25px;
}
.item:hover{
    transition: .5s all;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
}
.item img{
    width: 200px;
}
.item-title{
    font-size: 18px;
}
.item__price{
    font-size: 18 px;
    color: black;
}
.content a{
text-decoration: none;
}
.itemContainer{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    width: 90%;
    padding: 40px 20px;
}
.itemContainer .item__image{
    width: 200px;
}
.category-wrapper{
    padding:25px;
} 